@model TenisProjesi.Fatura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kiralamaBaslangic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kiralamaBaslangic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kiralamaBitis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kiralamaBitis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faturaOdemeTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faturaOdemeTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User_Kiralama.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User_Kiralama.Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
