@model TenisProjesi.Saat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Saat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kortId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kortId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslangicSaati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslangicSaati)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitisSaati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitisSaati)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
